.login-container{
 background-image: url("../images/loginimage.jpg");
 background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    width: 208vh;
    padding-top: 4%;
}
.form-login1{
    display: grid;
    
    background: #fffdfd91;
    padding: 25px;
    box-shadow: 1px 1px 1px 2px inset rgb(27, 26, 26);
    border-radius: 2rem;
    margin-right: auto;
    color: black;
    width: 30%;
    position: absolute;
    right:100px;
}
.login-page1 {
    margin-top: 6%;
     }
   
     center h6{
       font-size: 25px;
     }
     .login1 {
      color: rgb(0, 0, 0);
       
     }
     .borderbox{
       outline: none;
       border: 0;
       background:none;
       font-size: 16px;
       padding: 5px;
     }
     
     .form-login1 label {
        font-size: 17px;
        margin-left: 20px;
        font-weight:bolder;
      }
      
      .input-email,
      .input-password {
        background: #ededed;
        border-radius: 25px;
        margin: 6px 0 9px 0;
        padding: 10px;
        display: flex;
      }
      
      input[type="text"],
      input[type="password"]
       {
        width: 100%;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 5px;
        outline: none;
        color:black
      }
      label{
       color: rgb(0, 0, 0);
      }
      
      button {
        width: 100%;
        border-radius: 25px;
        padding: 14px;
        background: #1e25aa;
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
        padding-left: 1%;
      }
     
      button:hover {
        opacity: 0.9;
      }
      h5{
        padding-top: 6%;
        color: black;
        font-size: 13px;
        padding-left: 40%;
      }
     