.containerrd{
  padding: 20px 20px 0px 0px;
  margin-top: 5%;
}
.desimgs{
  margin-left: 5%;
  display: flex;
  margin-top: 3%;
  
}
.flex_row{
  
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 2%;
}
.clicked {
  border: 2px solid black;
}
.content{
  margin-left: 5%;
}
.content hr{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 600px;
}
.content h4{
  margin-top: 5%;
}
.options select {
  margin-top: 2%;
  width: 300px; /* Adjust the width as needed */
  padding: 15px; /* Add padding for better appearance */
  border: none;
  box-shadow: 1px 1px 2px 1px  grey;
  border-radius: 10px;
}
.custom1{
  margin-top: 2%;
  width: 300px; /* Adjust the width as needed */
  padding: 15px; /* Add padding for better appearance */
  border: none;
  box-shadow: 1px 1px 2px 1px  grey;
  border-radius: 10px;
}
.personalization {
  font-size: 15px;
  margin-top: 3%;
  padding: 5px 10px 5px 20px;
  border-radius: 30px;

  background-color: rgb(244, 244, 244);
  border: none;
  cursor: pointer;
}
.personalization:hover{
  background-color: #e3e3e3;
  border-radius: 30px;
}
.personalization1 {
  font-size: 15px;
  margin-top: 3%;
  padding: 5px 10px 5px 20px;
  border-radius: 30px;
  color: black;
  background-color: rgb(244, 244, 244);
  border: none;
  cursor: pointer;
}
.personalization1:hover{
  background-color: #e3e3e3;
  border-radius: 30px;
}
.options textarea {
  margin-top: 10px; /* Add margin for spacing */
  width: 60%; /* Make the text area expand to fill its container */
  padding: 10px;
  line-height:1.5;
  resize: none;
  border-radius: 9px;

  /* Hide scrollbar arrows for WebKit browsers (Chrome, Safari, Opera) */
  /* Enable automatic height expansion (JavaScript approach) */
  height:60px;

  /* Option 1 (alternative): Set scrollbar width to a small value (modern browsers) */
  scrollbar-width:none; /* Firefox, etc. */
/* Rounded corners for better aesthetics */
&.my-textarea {
  transition: height 0.2s ease-in-out;  /* Smooth height transition */
}
}
.personalization-text{
  color: #fffdfd;
}

.options .personalization {
  display: flex;
  align-items: center; 
  color:#000000
}

.options .icon {
  margin-left: 5px; 
  padding-top: 2%;
}
.personalization-text{
  font-weight: 500;
  padding-top: 1%;
  color: #000000;
  font-size: 14;
}
.options1 .personalization1 {
  display: flex;
  align-items: center; 
}

.options1 .icon1 {
  margin-left: 5px; 
  padding-top: 2%;
}
.personalization1-text{
  font-weight: 500;
  padding-top: 1%;
  color: #fffdfd;
  font-size: 14;
}
.basket{
  margin-top: 5%;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: aliceblue;
  color: black;
}
.item-details1{
  display: flex;
}